.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

.u-section-1 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 514px;
  margin: 68px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 270px;
}

.u-section-1 .u-container-layout-1 {
  padding: 1px 30px 20px;
}

.u-section-1 .u-text-1 {
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 47px auto 0;
  padding: 15px 65px 15px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 144px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 218px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -48px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 12px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
    width: 340px;
  }
}