 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 658px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-1 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 243px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: -72px auto 0 102px;
}

.u-section-1 .u-video-1 {
  height: 152px;
  width: 295px;
  margin: 10px 0 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: -72px auto 0 102px;
}

.u-section-1 .u-video-2 {
  height: 152px;
  width: 295px;
  margin: 10px 0 0 auto;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 30px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: -72px auto 0 102px;
}

.u-section-1 .u-video-3 {
  height: 152px;
  width: 295px;
  margin: 10px 0 0 auto;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 0 60px auto;
  padding: 15px 84px 15px 83px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 200px;
    grid-template-columns: repeat(3, 33.3333%);
  }

  .u-section-1 .u-text-2 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -53px;
    margin-left: 46px;
  }

  .u-section-1 .u-video-1 {
    height: 142px;
    width: 243px;
    margin-top: 11px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-4 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -53px;
    margin-left: 46px;
  }

  .u-section-1 .u-video-2 {
    height: 142px;
    width: 243px;
    margin-top: 11px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-6 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -53px;
    margin-left: 46px;
  }

  .u-section-1 .u-video-3 {
    height: 142px;
    width: 243px;
    margin-top: 11px;
    margin-right: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 460px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-video-1 {
    margin-right: 40px;
  }

  .u-section-1 .u-video-2 {
    margin-right: 40px;
  }

  .u-section-1 .u-video-3 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 804px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-video-1 {
    height: 209px;
    width: 324px;
    margin-top: 0;
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-video-2 {
    height: 209px;
    width: 324px;
    margin-top: 0;
    margin-bottom: -2px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-video-3 {
    height: 209px;
    width: 324px;
    margin-top: 0;
    margin-bottom: -2px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
    margin-right: 22px;
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-line-1 {
    width: 116px;
    transform-origin: left center 0px;
    margin-top: 25px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 867px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: 304px;
    margin-left: -9px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -43px;
    margin-left: 36px;
  }

  .u-section-1 .u-video-1 {
    height: 199px;
    width: 304px;
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-right: 304px;
    margin-left: -9px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -43px;
    margin-left: 36px;
  }

  .u-section-1 .u-video-2 {
    height: 199px;
    width: 304px;
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 3rem;
    margin-right: 304px;
    margin-left: -9px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -43px;
    margin-left: 36px;
  }

  .u-section-1 .u-video-3 {
    height: 199px;
    width: 304px;
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 31px;
  }
}