.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-form-1 {
  height: 375px;
  background-image: none;
  margin: 97px 262px 0 286px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -393px 423px 357px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 162px;
    margin-left: 186px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 592px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 553px;
    margin-left: -6px;
    margin-right: -6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    height: 400px;
    margin-top: 119px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -436px;
  }
}