.u-section-1 .u-sheet-1 {
  min-height: 635px;
}

.u-section-1 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 408px;
  margin: 88px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 264px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 64px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 473px;
    margin-top: 111px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-1 .u-text-1 {
    width: 300px;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 285px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }
}